.row
  .large-12.columns
    %h1 UCSB IEEExtreme Team Global Ranking
    %p Teams with successful submissions or a score above zero will rank.
    %p Last server download and check: #{DateTime.now}
    %table{width: '100%'}
      %thead
        %tr
          %th{width: '70px'} Global Rank
          %th{width: '70px'} Score
          %th Name
      %tbody
        - get_ucsb_hackers.each do |hacker|
          %tr
            %td
              = hacker['rank']
            %td
              = hacker['score']
            %td
              = hacker['hacker']
    %script{src:'assets/javascripts/refresh.js'}


