.row
  .large-12.columns
    %h1 UCSB IEEExtreme Team Global Ranking
    %p Teams with sucessful submissions will rank.
    %p Last updated: #{DateTime.now}
    %table{width: '100%'}
      %thead
        %tr
          %th{width: '200px'} Global Rank
          %th Name
      %tbody
        - get_ucsb_hackers.each do |hacker|
          %tr
            %td
              = hacker['rank']
            %td
              = hacker['hacker']


