.row
  .large-12.columns
    %h2 Welcome to the board

.row
  .large-12.columns
    %p Hello
    %table
      %thead
        %tr
          %th Global Rank
          %th Name
      %tbody
        - get_ucsb_hackers.each do |hacker|
          %tr
            %td
              = hacker['rank']
            %td
              = hacker['hacker']


